#password{
    height:100vh;
    background:#f0f0f0;
}
#password h1{margin:0;
    padding:0;
font-weight: normal;
color:#8d4c04;
font-size: 20px;}
#password header{
    display:flex;
    justify-content: center;
    font-size: 15px;
    align-items:center;
    color:#8d4c04;
    background: #fff;
    height:50px;
  
    flex-shrink: 0;
    position: relative;
}

#password header span:nth-child(1){
    font-size:40px;
     padding-bottom:6px;
    
     position: absolute;
     left:5px;
}

 .#password reset-psw{
     
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
    width:100%;
}
#password section{
    flex:1;
    overflow: auto;
}

#password  .code,.phone,.password{
    height: 60px;
    margin-top:2px;
    background: #fff;
    display: flex;
    align-items: center;

}
#password .code input{
    width:70%;
 }
 #password  .code span{
     width:30%;
     height: 100%;
     background: #05bc8e;
     text-align: center;
      line-height:60px;
      color:#fff;
 }

 #password   input{
    width:80%;
    height:40px;
    border: none;
    outline: none;
    color:#6c6c6c;
    font-size: 18px;
    text-indent: 2em;
}
 


#password .reg{
  
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
    width:100%;
}
#password  .reg button{
    outline: none;
    width:80%;
    border-radius: 15px;
    height:40px;
    background: #13cb67;
    color:#fff;
    text-align: center;
    border: none;
    font-size: 18px;
}

/* 注册协议 */
#password  .reg-protocol{
    margin-top: 30px;
}
#password .reg-protocol a{
     text-decoration: none;
     color:#62c867;
     margin-left:10px;
}


#password .reset-psw button{
    outline: none;
    width:80%;
    border-radius: 15px;
    height:40px;
    background: #13cb67;
    color:#fff;
    text-align: center;
    border: none;
    font-size: 18px;
    margin: 50px 10% 0;
    
}

 /* 获取验证码 */

 #password .getCode{
    width:80%;
    display: flex;
    flex-direction: column;
 position: fixed;
 left:10%;
 top:100px;
 background:rgb(141, 137, 137);
 z-index: 5;
}

#password .getCode div:nth-child(1){
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    padding-right:10px;
}

#password .getCode div:nth-child(2){
margin:20px 0;
font-size: 20px;
display: flex;

}

#password .getCode div:nth-child(2) input{
  background: "white";
  width:50%;
  margin-left:10px;
}
#password .getCode div:nth-child(3){
 display: flex;
 justify-content: center;
margin:30px 0 40px;
}
#password .getCode div:nth-child(3) button{
  width:80px;
  outline: none;
  border: none;
 margin:10px;
}
#filter-net {
width:100%;
height:100%;
background: rgba(255, 255, 255, 0.3);
position: fixed;
top:0;
z-index:1;
}