#set p{margin:0;padding:0;}

#set{
    display:flex;
    flex-direction: column;
    
    height: 100vh;
    background:#f0f0f0;
  
    
}


#set header{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height:50px;
    color: #fff;
    font-size: 22px;
    overflow: hidden;
    color:#8d4c04;
    flex-shrink: 0;
}

#set header span{
    position:absolute;
    left:20px;
    font-size: 18px;
}

#set section{
    flex:1;
    overflow: auto;
}


/* 第四个div */
#set footer{
    flex-shrink: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
  background: #fff;
}
#set footer a{
   
    color:  #13cb67;
    font-size: 20px;
}
#set .my-four{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin-bottom:20px;
    padding: 10px 15px;
   
}

